body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#container {
    text-align: center;
}

#dice img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}
